PORT=5000
NODE_ENV=development
MONGO_DB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/fable?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:5000
NEXT_PUBLIC_IMAGE_UPLOAD_API_KEY=your_imgbb_api_key_here

# Fable
# 29ed8X38YHnzbZm7
